
/* Make 80 characters visible by default. */
.codeblock {
  transition: width .5s ease;
  width: 101%;
  overflow: hidden;
}
div.codeblock code {
  white-space: pre !important;
  width: 940px !important;
}
/* Expand code blocks so big patch text and dumps are visible. */
.codeblock:hover {
  position: relative;
  z-index: 100000;
  width: 890px; /* 940 - 50px profile margin */
}
